<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragments/general-includes :: general-includes"></th:block>
   <link rel="stylesheet" href="../css/about.css" th:href="@{/css/about.css}" type="text/css" />
   <title>Über mich</title>
</head>
<body>
   <nav th:replace="fragments/general-includes :: header"></nav>
   <div class="jumbotron">
      <div class="container">
	      <h2>Ausbildung und Tätigkeit</h2>
	      <div class="row timetable">
	        <div class="container">
		        <div class="col-xs-2">1988-90</div>
		        <div class="col-xs-10">Zeichenstudium, Westf.Wilhelmsuniversität Münster</div>
	        </div>
	      </div>
	      <div class="row timetable">
           <div class="container">
		        <div class="col-xs-2">1989-95</div>
		        <div class="col-xs-10">Magisterstudium WS 89/90 - 3.7.95 Kunst/ Kunstpädagogik und Philosophie</div>
		     </div>
         </div>
		   <div class="row timetable">
           <div class="container">
		        <div class="col-xs-2">1994</div>
		        <div class="col-xs-10">Förderpreis der Universitätsgesellschaft Osnabrück für Malerei auf dem Gebiet der nicht gegenständlichen Malerei</div>
		     </div>
         </div>
      </div>
      <hr class="gradient-style"></hr>
      <div class="container">
         <h2>Wichtigste Ausstellungen</h2>
         <div class="row timetable">
           <div class="container">
              <div class="col-xs-2">1993</div>
              <div class="col-xs-10">Galerie im Studentwerk Osnabrück</div>
           </div>
         </div>
         <div class="row timetable">
           <div class="container">
              <div class="col-xs-2">1993</div>
              <div class="col-xs-10">Fachhochschule Osnabrück</div>
           </div>
         </div>
         <div class="row timetable">
           <div class="container">
              <div class="col-xs-2">1993/94</div>
              <div class="col-xs-10">Galerie im Fenster, Universität Osnabrück</div>
           </div>
         </div><div class="row timetable">
           <div class="container">
              <div class="col-xs-2">1994</div>
              <div class="col-xs-10">Musikakademie Dümmer-See, Hüde</div>
           </div>
         </div>
         <div class="row timetable">
           <div class="container">
              <div class="col-xs-2">1994</div>
              <div class="col-xs-10">4.Leeraner Kunstmeile 1994", Leer</div>
           </div>
         </div>
         <div class="row timetable">
           <div class="container">
              <div class="col-xs-2">1994</div>
              <div class="col-xs-10">Galerie Khoury, Bremen</div>
           </div>
         </div>
         <div class="row timetable">
           <div class="container">
              <div class="col-xs-2">1998</div>
              <div class="col-xs-10">Kulturbahnhof Binolen, Märkischer Kreis</div>
           </div>
         </div>
         <div class="row timetable">
           <div class="container">
              <div class="col-xs-2">2000</div>
              <div class="col-xs-10">Kreissparkasse Grafschaft Bentheim, Uelsen</div>
           </div>
         </div>
         <div class="row timetable">
           <div class="container">
              <div class="col-xs-2">2008</div>
              <div class="col-xs-10">Remarque, die Stadt und der Frieden/ Ausstellung zum Remarque-Jahr 2008, Kunst-Quartier, Osnabrück (G)<br/>Kontraste – (mit Michael Olsen), Kunst-Quartier, Osnabrück (G)</div>
           </div>
         </div>
         <div class="row timetable">
           <div class="container">
              <div class="col-xs-2">2010</div>
              <div class="col-xs-10">Kompositionen – Malerei, Collage, planen + bauen, Osnabrück (E)<br/>
                                     Art &#38; Dialog, im Rahmen von „Zeitgleich – Zeitzeichen 2010“ des Bundesverbandes Bildender 
                                     Künstlerinnen und Künstler, Kunst-Quartier, Osnabrück (G)</div>
           </div>
         </div>
         <div class="row timetable">
           <div class="container">
              <div class="col-xs-2">2011</div>
              <div class="col-xs-10">Sigma, planen &#43; bauen, Osnabrück (G)</div>
           </div>
         </div>
         <div class="row timetable">
           <div class="container">
              <div class="col-xs-2">2013</div>
              <div class="col-xs-10">Cutouts und Farbkompositionen &#45; Kunst-Quartier, Osnabrück (E)</div>
           </div>
         </div>
      </div>
   </div>
</body>
</html>