*/target/*
!.mvn/wrapper/maven-wrapper.jar
*/RemoteSystemsTempFiles/*
*Spielwiese.java
*.DS_Store
.gitconfig
.metadata/*
.recommenders/*
LudwigBurandt-Dokumentation-chronologisch-20.10.14.pdf

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/target/

