<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragments/general-includes :: general-includes"></th:block>
   <link rel="stylesheet" href="../css/painting.css" th:href="@{/css/painting.css}" type="text/css" />
   <title>Gegenständliche Malerei - Neu</title>
</head>
<body>
   <nav th:replace="fragments/general-includes :: header"></nav>
   <div class="jumbotron">
      <div class="container">
         <h3>Neues Bild in der Rubrik gegenständliche Malerei erfassen:</h3>
         <form class="form-group" method="post" th:action="${#mvc.url('save_new_representational').build()}" enctype="multipart/form-data">
            <input type="text" class="form-control" id="paintingname" name="paintingname" required="required" placeholder="Bildname"/>
            <input type="text" class="form-control" id="technique" name="technique" required="required" placeholder="Technik"/>
            <input type="number" class="form-control" id="height" name="height" required="required" placeholder="Höhe"/>
            <input type="number" class="form-control" id="width" name="width" required="required" placeholder="Breite"/>
            <input type="number" class="form-control" id="year" name="year" required="required" placeholder="Entstehungsjahr"/>
            <input type="file" class="form-control" id="file" name="file" required="required" accept="image/*"/>
            
            <button type="submit" class="btn btn-primary blog-input">
                  <i class="fa fa-floppy-o"></i> Speichern
               </button>
         </form>
      </div>
   </div>
</body>
</html>