<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragments/general-includes :: general-includes"></th:block>
   <link rel="stylesheet" href="../css/painting.css" th:href="@{/css/painting.css}" type="text/css" />
   <title>Gegenständliche Malerei</title>
</head>
<body>
   <nav th:replace="fragments/general-includes :: header"></nav>
   <div class="jumbotron">
      <div class="container">
         <h2>Gegenständliche Malerei</h2>
         <hr class="gradient-style-left" />
     </div>
     <div class="container">
         <div class="row">
            <th:block th:each="painting : ${paintings}">
               <div class="col-sm-6 col-lg-4">
	               <div class="painting-container">
	                  <div class="thumbnail">
	                     <img th:attr="src=@{/image/representational/{filename}(filename=${painting.datei})}" />
	                  </div>
	                  <h5 th:text="${painting.name}">Bildname</h5>
	                  <p class="description" th:text="${painting.hoehe} + 'cm x ' + ${painting.breite} + 'cm, ' 
	                                                  + ${painting.technik}">Maße und Technik</p>
	               </div>
	            </div>
            </th:block>
         </div>
      </div>
   </div>
</body>
</html>