@CHARSET "UTF-8";

.first-container {
	margin-top: 50px;
}

a.menu-link:hover {
	text-decoration: none;
}

.painting-menu {
	background: url('/icons/painting.png');
}

.jumbotron {
	margin-bottom: 0;
}