.painting-container {
	min-height: 500px;
	margin-left: 5px;
	margin-right: 5px;
}

.painting-container-edit {
	min-height: 600px;
	margin-left: 5px;
	margin-right: 5px;
}

.painting-container p {
	font-size: 1.3em;
}

h5 {
	font-size: 18px;
}

p.description {
	font-size: 13px;
}

.painting-frame {
    border-style: solid;
}

.form-control {
    margin-bottom: 15px;
    max-width: 500px;
}